.footer {
  display: flex;
  justify-content: center;
}
.footer____copyright {
  max-width: 250px;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
@media (min-width: 321px) and (max-width: 768px) {
  .footer____copyright {
    max-width: 240px;
    font-size: 14px;
    line-height: 16px;
    margin: 88px auto 24px;
  }
}
@media (max-width: 320px) {
  .footer____copyright {
    max-width: 230px;
    font-size: 14px;
    line-height: 14px;
    margin: 64px auto 24px;
  }
}
